body,html {margin:0;
    height:100%
}


p#credits
{
  color:blue;
  position:absolute;
  right:0px;
  top:55px;

}


button:focus
{
  outline-style: none;
}
.buy_button
{
  margin-top:100px;
  margin-left:150px;
  background-color: #4CAF50;
  border:none;
  color:white;
  padding:20px;
  text-align:center;
  font-size:16px;
  border-radius:50%;

}

.specs {
  list-style: none; /* Remove default bullets */
}

.specs li::before {
  content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: grey; /* Change the color */
  font-weight: bold; /* If you want it to be bold */
  display: inline-block; /* Needed to add space between the bullet and the text */ 
  width: 1em; /* Also needed for space (tweak if needed) */
  margin-left: -1em; /* Also needed for space (tweak if needed) */
}


ul.offers {
  list-style: none; /* Remove default bullets */
}

ul.offers li::before {
  content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: grey; /* Change the color */
  font-weight: bold; /* If you want it to be bold */
  display: inline-block; /* Needed to add space between the bullet and the text */ 
  width: 1em; /* Also needed for space (tweak if needed) */
  margin-left: -1em; /* Also needed for space (tweak if needed) */
}


ul.specs
{
    float:left;
    margin:0px;
    padding:px;
}

ul#nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;                   /*What to do if there is an overflow? , we don't expect any, so we have made it hidden*/
    /* other options: hidden,scroll,auto*/
    background-color: #555;
    position: fixed;    /* stays in the same place irrespective of scrolling*/
    /* other options:   static 
                        relative - relative to normal position
                        fixed - relative to viewport
                        absolute-relative to ancestor 
                        sticky - sticks after offset
    */
    top: 0;         /* related to viewport , so 0px between top and viewport*/
    width: 100%;
}

ul#nav li {
    float: left;
}

ul#nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul#nav li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #111;
}


* {
    box-sizing: border-box;
}

 .Object
  {

    padding-right:20px;
    padding-bottom: 20px;
    padding-top: 20px;
    padding-left: 30px;
    width:100%;
    height:280px;
    border-top: 1px solid green;

   }


.img {
  float: left;
  width: 25%; /* three boxes (use 25% for four, and 50% for two, etc) */
  padding: 10px; /* if you want space between the images */
  height:220px;
}


.description {
  float: left;
  width: 50%; /* three boxes (use 25% for four, and 50% for two, etc) */
  padding: 10px; /* if you want space between the images */
  height:200px;
}


.price_n_offers
{
  float: left;
  width: 25%; /* three boxes (use 25% for four, and 50% for two, etc) */
  padding: 10px; /* if you want space between the images */ 
  height:200px;
}

.description h2
{
    float:left;
    margin:0px;
    padding-bottom: 10px;
    font-family: "Times New Roman", Times, serif;
}

.specs
{
    font-family: "Times New Roman", Times, serif;
}


.price_n_offers h3
{
    font-size: 150%;
}

.strike_through_price
{
    text-decoration: line-through;
    color:grey;
}

.discount
{
    color:green;
}