body,html {margin:0;
    height:100%
}




ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #555;
    position: fixed;
    top: 0;
    width: 100%;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #111;
}

.bgimg
{
    /*opacity:0.5;
    filter:alpha(opacity=50);*/
}


.Deals_of_the_day:before,
.Deals_of_the_day:after {
    content: "";
    display: table;
}

.Deals_of_the_day:after {
    clear: both;
}